{% extends 'base.html' %}
{% block title%}
회원가입
{% endblock %}
{% block content %}
<h2>회원가입</h2>
<div>{{err}}</div>
<form action="." method="post">
    {% csrf_token %}
    아이디 : <input type="text" name="username"><br><br>
    비밀번호 : <input type="password" name="pw"><br><br>
    비밀번호확인 : <input type="password" name="repw"><br><br>
    이메일 : <input type="email" name="email"><br><br>
    전화번호 : <input type="text" name="hp"><br><br>
    이름 : <input type="text"  name="name"><br><br>
    <button type="submit">등록</button>
</form>
</div>
{% endblock %}
