{% extends 'base.html' %}
{% block title%}회원리스트{% endblock %}
{% block manubar %}
설문 회원 게시판
{% endblock%}
{% block content %}
<table>
    <tr>
        <th>번호</th>
        <th>아이디</th>
        <th>이름</th>
        <th>번호</th>
        <th>이메일</th>
    </tr>
       {% for m in ms %}
    <tr>
        <td><a href="/member/{{m.id}}">{{m.id}}</a></td>
        <td>{{m.username}}</td>
        <td>{{m.name}}</td>
        <td>{{m.hp}}</td>
        <td>{{m.email}}</td>
    </tr>
        {%endfor%}
</table>
{% endblock%}
